<mat-card class="card">



  <mat-card-content>

    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-card-title>
        <h3>Upload Picture</h3>
      </mat-card-title>
      <mat-grid-tile>
        <div class="mat-elevation-z2 users-list">

          <mat-spinner *ngIf="isLoading"></mat-spinner>
          <mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
            <mat-expansion-panel *ngFor="let post of posts">
              <mat-expansion-panel-header>
                {{ post.title }}
              </mat-expansion-panel-header>
              <div class="post-image">
                <img [src]="post.imagePath" [alt]="post.title">
              </div>
              <p>{{ post.content }}</p>
              <mat-action-row>
                <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
                <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
          <p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>

        </div>
      </mat-grid-tile>



      <mat-grid-tile>
        <div class="mat-elevation-z2 users-list">


          <mat-list role="list">
            <mat-list-item role="listitem">Send 0 if Modèles linéaires</mat-list-item>
            <mat-list-item role="listitem">Send 1 if Perceptron Multi Couches</mat-list-item>
            <mat-list-item role="listitem">Send 2 if Convolutional Neural Network</mat-list-item>
            <mat-list-item role="listitem">Send 3 if Residual Neural Network</mat-list-item>
            <mat-list-item role="listitem">Send 4 if Radial Basis Function Network</mat-list-item>
          </mat-list>
          <!--  <form [formGroup]="form" (submit)="onSaveModel()">
              <mat-form-field>
                <input matInput formControlName='title' placeholder="Model">
                <input matInput placeholder="pat@example.com" [formControl]="modelml" required [(ngModel)]="newModel.id">
              </mat-form-field>
              <button mat-raised-button color="accent" type="submit">Save Model</button>
            </form>
 -->

          <div class="container">
            <form (ngSubmit)="onSaveModel()" class="form">
              <mat-form-field appearance="fill" class="form-element">
                <mat-label>Enter model value.</mat-label>
                <input matInput placeholder="0" [formControl]="modelml" required
                  [(ngModel)]="newModel.id">
              </mat-form-field>
              <div class="form-element">
                <button mat-raised-button color="accent" type="submit" class="button">Save Model</button>
              </div>
            </form>
          </div>


        </div>
      </mat-grid-tile>

    </mat-grid-list>





  </mat-card-content>
</mat-card>